[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
cmake = "*"
dlib = "*"
face-recognition = "*"
numpy = "*"
pyodbc = "*"
tk = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
mssql-django = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
